html, body {
  margin: 0;
  height: 100%;
}

.navFlexContain {
  background-color: green;
  width: 100%;
  display: flex;
}

.navFlex {
  justify-content: space-around;
}

body {
  background-image: url('../img/background.webp');
}